dist/scroll-image.html
<!DOCTYPE html>
<html class="no-js loading" dir="ltr">
  <head>
    <title>WRG</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="keywords" content="WRG">
    <meta name="description" content="WRG">
    <meta property="og:image" content="">
    <meta property="og:title" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="./css/plugin.css">
    <link rel="stylesheet" href="./css/main.css">
  </head>
  <body class="no-js theme--default" dir="ltr">
    <div id="page-wrap">
      <header class="wrg header">
        <div class="container">
          <div class="header__wrap">
            <h1> <img src="https://whiterabbit.group/images/whiterabbit-logo.svg"></h1>
            <nav class="header__nav">
              <ul>
                <li><a href="/">Scroll Reveal</a></li>
                <li><a href="image-comparison.html">Image Comparison</a></li>
                <li><a href="coffee-drink.html">Coffee Drink</a></li>
                <li><a class="active" href="scroll-image.html">Scroll Image</a></li>
                <li><a href="flip.html">Flip</a></li>
                <li><a href="gsap.html">Gsap</a></li>
                <li><a href="text.html">Text</a></li>
                <li><a href="box.html">Box</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
      <div class="wrg scroll-image">
        <div class="scroll-image--1 delayed-section" data-scrub="0.4">
          <div class="image__container"><img width="575" src="https://picsum.photos/575/745?index=1" alt=""></div>
        </div>
        <div class="scroll-image--2 delayed-section" data-scrub="0.2">
          <div class="image__container"><img width="575" src="https://picsum.photos/575/745?index=2" alt=""></div>
        </div>
        <div class="scroll-image--3 delayed-section" data-scrub="0.6">
          <div class="image__container"><img width="575" src="https://picsum.photos/575/745?index=3" alt=""></div>
        </div>
      </div>
      <footer class="wrg footer">
        <div class="container">
          <div class="footer__wrap">
            <p>&copy; 2021</p>
          </div>
        </div>
      </footer>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollTrigger.min.js"></script>
      <script src="https://assets.codepen.io/16327/Flip.min.js"></script>
      <script src="https://assets.codepen.io/16327/SplitText3.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
    </div>
    <script src="./js/script.js"></script>
  </body>
</html>

source/components/scroll-image/scroll-image.pug
.wrg.scroll-image
    .scroll-image--1.delayed-section(data-scrub='0.4')
        .image__container
            img(width='575' src='https://picsum.photos/575/745?index=1' alt='')
    .scroll-image--2.delayed-section(data-scrub='0.2')
        .image__container
            img(width='575' src='https://picsum.photos/575/745?index=2' alt='')
    .scroll-image--3.delayed-section(data-scrub='0.6')
        .image__container
            img(width='575' src='https://picsum.photos/575/745?index=3' alt='')
